
<!DOCTYPE html>
<html>
<head>
	<% include ../partials/header.ejs %>
	

	<title> Display data </title>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>
	<script type="text/javascript" src="server.js"></script>
	<link rel="stylesheet" href="main.css" type="text/css">

	<script>
			$(function() {
				initializer();
			}); 
	</script>
	

</head>

<body> 

	<button>Get Score</button>
	<% include ../partials/nav.ejs %>
	<h1 class="banner">O L I B E R U M</h1>
</body>

</html>			